._*

# Dependency directories
node_modules/

# Build outputs
/build
/dist

# IDE and editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Temporary files
.npm
.npmrc
*.log
*.tmp
*.temp

# Lock files
package-lock.json

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Debug log from npm
npm-debug.log*

